.card {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 150px;
}

.card-image {
	object-fit: scale-down;
	height: 100%;
}

/* Small devices (portrait tablets and phones, 768px and down) */
@media only screen and (max-width: 768px) {
	.card {
		margin-bottom: 5%;
		align-self: center;
		width: 400px;
	}
}

/* Extra small 576px and down  (phones)*/
@media only screen and (max-width: 576px) {
	.card {
		width: 350px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.card {
		width: 330px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
